
<hr>

<h3>
  <%= @user.name %>さん
</h3>

<p>
  メールアドレスの認証をお願いいたします。
</p>

<div class="text-center">
  <%= button_to("http://matcha-kay.work/email/certified/#{@user.id}", {method: "post"}, class: "btn btn-success") do %>
    メールアドレス認証
  <% end %>
</div>