<h1 class="error-title error-page-title">エラーが発生しました</h1>

<div class="error-page-box">
  <div class="error-btn-box">
    <%= button_to("/index", method: "get", class: "btn btn-lg btn-default") do %>
      トップページ
    <% end %>
  </div>
</div>