<%= stylesheet_link_tag "admin_edit" %>

<div class="row admin-row">
  <div class="col-2 admin-col-2">
    <ul class="nav flex-column admin-side-menu">
      <li class="nav-item admin-top-link">
        <%= link_to "ユーザー管理", "/admin/management/user", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <%= link_to "ギャラリー管理", "/admin/management/gallery", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "問い合わせ管理", "/admin/management/inquiry", class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="col-10 admin-col-9">
    <h1 class="admin-main-title">管理者トップ</h1>
  </div>
</div>