header {
  visibility: hidden;
}
body {
  background-color: #FFF;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
footer {
  visibility: hidden;
}
//
.admin-error-box {
  width: 65%;
  margin: 0 auto;
  border: solid 2px #FF4C4C;
}
.admin-alert-box {
  width: 60%;
  margin: 0 auto;
}
.admin-main-title {
  text-align: center;
  font-size: 60px;
}
.admin-login-from-box {
  width: 50%;
  margin: 0 auto;
  padding: 3% 5%;
  background-color: #DDD;
  border-radius: 7px;
}
.admin-create-box-in {
  padding: 2% 1%;
  background-color: #DDD;
  border-radius: 7px;
}
.create-form-box {
  margin-top: 2%;
  margin-bottom: 3%;
}