.wrapper {
  width: 85%;
  margin:  0 auto 5% auto;
  background-color: #275D39;
  border: solid 1px #1F4B2E;
  border-radius: 7px;
}
.main-title {
  margin: 2% 0 3% 0;
  padding-left: 2%;
  font-size: 71px;
  color: #fff;
  background-color: #6846A5;
}
.left-col {
  padding-top: 0.7%;
  font-size: 19px;
  color: #fff;
}
.small-text {
  color: #ffff00;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.form-box {
  margin: 2.7% 0;
}
.my-check-label {
  margin-left: 2%;
  font-size: 20px;
  color: #fff;
}
.my-check-box {
  margin-left: 0.1%;
}
.my-regist-btn {
  width: 160px;
  font-size: 23px;
  background-color: #FFA30D;
}
.my-regist-btn:hover {
  opacity: 0.8;
}
.my-submit-box {
  margin: 5% 1% 1% 0;
}
.out-line {
  width: 93%;
  margin: 3%  auto 0 auto;
  border: solid 2px #D7CDE9;
  border-radius: 8px;
}
.card-img {
  text-align: center;
}
.my-card-header {
  padding: 1% 0 0.3% 1.5%;
  font-size: 23px;
  color: #fff;
  background-color: #6846A5;
  border: none;
}
.my-card-body {
  font-size: 27px;
  padding: 2% 0 2% 0;
  background-color: #FCF2D3;
}
.profile-text {
  padding-left: 11%;
}
.bottom-box {
  padding-bottom: 5%;
  margin-bottom: 7%;
}
.update-form-text {
  padding-left: 2%;
}
.update-form-input {
  margin: 0 auto;
  width: 85%;
}
.update-form-check {
  padding-left: 5%;
}
.update-check-box {
  transform: scale(1.7, 1.7);
}
.setting-icon {
  font-size: 50px;
}