.main-title {
  margin: 2% 0 3% 2%;
  font-size: 71px;
  color: #fff;
}
.wrapper {
  width: 90%;
  margin:  0 auto;
  background-color: #275D39;
  border: solid 1px #1F4B2E;
  border-radius: 7px;
}
.my-card-box {
  width: 80%;
  height: 100vh;
  margin: 7% auto 0 auto;
}
.my-card {
  margin-bottom: 3%;
  border: solid 1px #21442D;
}
.my-card-header {
  font-size: 17px;
  color: #fff;
  background-color: #6846A5;
  border: none;
}
.my-card-body {
  background-color: #FCF2D3;
  border-radius: 3px;
  border: none;
}
.form-text {
  color: #f44336;
}
.right-btn {
  margin: 1% 0 3% 0;
  text-align: right;
}
.my-submit {
  width: 11%;
  font-size: 23px;
  background-color: #FFA30D;
}
.my-card-text {
  font-size: 19px;
}
.setting-icon {
  font-size: 50px;
}