body {
  line-height: 1.8;
}
p {
  font-size: 16px;
}
.bg-1 {
  background-color: #6846A5;
}
.img-icon {
  margin: 0 auto;
}
.main-visual {
  width: 100%;
  height: 57em;
}
.main-visual-box {
  position: relative;
}
.main-visual-box h1 {
  position: absolute;
  top: 48%;
  left: 45%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 170px;
  font-weight: bold;
  color: #ffffff;
  font-family: "HGP行書体", "ヒラギノ明朝 ProN W6", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.index-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(104, 70, 165, 0.8);
}
.info-title {
  font-size: 47px;
  color: #fff;
}
.three-box {
  padding-bottom: 8%;
  color: #ffffff;
  height: 90%;
  background-color: rgba(80, 55, 128, 0.7);
  //border: solid 15px rgba(255,255,255,0);
  margin: 1px;
  border-radius: 39px;
  margin-top: 3%;
  h3 {
    //font-size: 39px;
    font-size: 200%;
  }
  p {
    margin: 6% 13% 0 13%;
    //font-size: 20px;
    font-size: 130%;
    text-align: left;
  }
}
.bar {
  width: 100%;
  height: 61px;
}
.cont {
  text-align: center;
}
.profile-box {
  margin-top: 5vh;
  margin-bottom: 13vh;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  transition: 0.3s;
}
.profile-card {
  background-image: url("card-background.jpg");
}

.card-box {
  background-color: #fcf8e3;
  border-radius: 13px;
}
.my-card-col {
  margin-top: 1.5%;
  a:hover {
    color: #373737;
  }
}
.my-card-col:hover {
  opacity: 0.85;
}
.img-box {
  text-align: center;
}
.zone {
  min-height: 53vh;
  max-height: 310vh;
  background-image: url("main3.jpg");
  background-size: cover;
}
.user-box {
  width: 90%;
  margin: 0 auto;
  //height: 100vh;
}
.card-col {
  margin-top: 7%;
}
.my-row {
  width: 100%;
  margin: 0;
}
.card-box-name {
  padding: 3px 0;
  font-size: 43px;
  font-weight: bold;
}
.card-box-title {
  padding: 3px 0;
  font-size: 33px;
  font-weight: bold;
}
.creator-card-last-bottom {
  width: 100%;
  margin-top: 5%;
}
.search-page-box {
  min-height: 95vh;
  margin-top: 3%;
}
.avatar {
  height: 30vh;
  //width: 100%;
  width: 30vw;
  max-width: 37vw;
  min-width: 20vw;
}

//new-tag
.new-tag-content {
  overflow: hidden;
  position: relative;
}

.new-tag {
  display: inline-block;
  position: absolute;
  top: -1%;
  right: 0;
  margin: 0;
  padding: 2.3% 0 1.3% 0;
  z-index: 2;
  width: 17%;
  text-align: center;
  color: white;
  font-size: 1.3vw;
  background-color: #FFA30D;
  border-radius: 7px;
}

.new-tag:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
}

.new-tag:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
}