h1 {
  font-size: 71px;
  color: #fff;
  margin: 1% 0 2% 17px;
}
.wrapper {
  width: 93%;
  margin: 0 auto;
  background-color: #275D39;
  border: solid 1px #1F4B2E;
  border-radius: 7px;
}
.setting-dropdown {
  text-align: right;
  margin-bottom: 20px;
}
.out-line {
  width: 93%;
  margin: 3%  auto 0 auto;
  border: solid 1px #21442D;
  border-radius: 8px;
}
.card-img {
  text-align: center;
}
.my-card-header {
  padding: 1% 0 0.3% 1.5%;
  font-size: 23px;
  color: #fff;
  background-color: #6846A5;
}
.my-card-body {
  font-size: 27px;
  padding: 2% 0 2% 0;
  background-color: #FCF2D3;
}
.bottom-box {
  padding-bottom: 5%;
  margin-bottom: 7%;
}
.btn-lg {
  width: 170px;
}