h1 {
  margin: 2% 0 3% 0;
  padding-left: 2%;
  font-size: 71px;
  color: #fff;
  background-color: #6846A5;
}
.wrapper {
  width: 93%;
  margin: 0 auto;
  background-color: #275D39;
  border: solid 1px #1F4B2E;
  border-radius: 7px;
  margin-bottom: 5%;
}
.setting-dropdown {
  text-align: right;
  margin-bottom: 20px;
}
.out-line {
  width: 93%;
  margin: 3%  auto 0 auto;
  border: solid 1px #21442D;
  border-radius: 8px;
}
.card-img {
  text-align: center;
}
.my-card-header {
  padding: 1% 0 0.3% 1.5%;
  font-size: 23px;
  color: #fff;
  background-color: #6846A5;
}
.my-card-body {
  font-size: 27px;
  padding: 2% 0 2% 0;
  background-color: #FCF2D3;
  p {
    padding-left: 1%;
  }
}
.bottom-box {
  margin-bottom: 3%;
}
.btn-lg {
  width: 170px;
}
.profile-update-btn-box {
  padding-right: 1%;
  padding-bottom: 2%;
}
.profile-update-btn {
  background-color: #FFA30D;
}
.profile-update-btn:hover {
  opacity: 0.8;
}
.update-form-input {
  margin: 0 auto;
  width: 85%;
}