.login-box {
  width: 60%;
  margin: 0 auto;
}
.wrapper {
  min-height: 66vh;
  width: 85%;
  margin:  0 auto 5% auto;
  padding: 3%;
  background-color: #275D39;
  border: solid 1px #1F4B2E;
  border-radius: 7px;
}
.main-title {
  margin: 2% 0 3% 0;
  padding-left: 2%;
  font-size: 71px;
  color: #fff;
  background-color: #6846A5;
}
.my-label-text {
  color: #fff;
  font-size: 17px;
  padding-top: 2.9%;
}
.radio-text {
  color: #fff;
  font-size: 17px;
}
.form-box {
  margin: 2.7% 0;
}
.regist-btn-box {
  margin-top: 3.9%;
}
.regist-btn {
  margin-right: 1%;
  width: 17%;
  font-size: 1.3em;
  background-color: #FFA30D;
}
.regist-btn:hover {
  opacity: 0.8;
}
.date-text {
  color: #fff;
}
.file-text {
  color: #fff;
}
.small-text {
  color: #ffff00;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.certified-box {
  height: 68vh;
}
.certified-btn {
  margin-top: 3%;
  font-size: 26px;
  height: 60px;
}
.certified_text {
  margin-top: 10%;
  margin-left: 31%;
  color: #fff;
  font-size: 23px;
}