<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
        footer {
          margin-top: 10%;
        }
    </style>
  </head>

  <body>
    <h1>SucSeed</h1>
    <%= yield %>
    <footer>
      <%= link_to("http://matcha-kay.work/index", {method: "get"}) do %>
        SucSeed
      <% end %>
    </footer>
  </body>
</html>
